name: CI

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  actions: write
  contents: read

jobs:
  build:
    name: Build Windows Package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-pc-windows-msvc

      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2

      - name: Cache xwin Windows SDK/CRT
        uses: actions/cache@v4
        with:
          path: ~/.cache/cargo-xwin
          key: xwin-${{ runner.os }}-v17

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y clang lld llvm

      - name: Install cargo-xwin
        run: cargo install --locked cargo-xwin

      - name: Build Windows executable
        env:
          XWIN_CACHE_DIR: ~/.cache/cargo-xwin
          RUSTFLAGS: "-C target-feature=+crt-static"
        run: cargo xwin build --release --target x86_64-pc-windows-msvc
