name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build Windows Package
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: "windows-build"

      - name: Build Windows executable
        run: cargo build --release
